{% extends "productivediscussion/base.html" %}

{% block title %}

    <h1 style="margin-top: 40px;">About</h1>

    <h2 style="margin-top: 20px;">Mission Statement: The purpose of this platform is to promote constructive intellectual discourse about controversial topics.</h2>

    <h3 style="margin-top: 40px;">The Premise:</h3>

    <p>
        In general the internet tends to hinder productive discussion and debate. This does not have to be the case. It is possible to build a platform on the internet that facilitates productive debate in a way that will benefit and enlighten users. It has the potential to provide a clearer means of determining the winner of the debate and potentially the correct path for us to work for as a society. 
    </p>

{% endblock %}

{% block body %}
{% endblock %}